label {
  display: block;
  color: #7d7d7d;
}

.floatBlock {
  margin: 0 1.81em 0 0;
  margin-right: 0;
  margin-left: 20px;
}

.labelish {
	color:#7d7d7d;
	margin: 0;
}

.readinessOptions {
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	break-before: always;
	margin: 0 0 1em 0;
}

#purchaseOrder {
	margin: 0 0 2em 0;
}

